<div class="container">
    <form (ngSubmit)="onSubmit()" [formGroup]="registartionform">
        <input type="text" placeholder="Username" formControlName="username"><br><br>
        <input type="text" placeholder="firstname" formControlName="first_name"><br><br>
        <input type="text" placeholder="lastname" formControlName="last_name"><br><br>
        <input type="text" placeholder="email" formControlName="email"><br><br>
        <input type="text" placeholder="password" formControlName="password"><br><br>
        <input type="text" placeholder="group" formControlName="group"><br><br>
        <input type="text"  placeholder="addressline1" formControlName="addressline1"><br><br>
        <input type="text"  placeholder="addressline2" formControlName="addressline2"><br><br>
        <input type="text"  placeholder="postoffice" formControlName="post_office"><br><br>
        <input type="text"  placeholder="city" formControlName="city"><br><br>
        <input type="text"  placeholder="district" formControlName="district"><br><br>
        <input type="text"  placeholder="state"  formControlName="state"><br><br>
        <input type="text" placeholder="pin" formControlName="pin"><br><br>   
        <button type="submit">register</button>   
    </form>
</div>